body {
    margin: 0;
    font-family: 'Segoe UI';
    background: url("https://images.unsplash.com/photo-1526378722484-cc5c510c9c5c") no-repeat center/cover;
}

/* Overlay */
.overlay {
    background: rgba(0,0,0,0.7);
    min-height: 100vh;
    padding: 20px;
    text-align: center;
    color: white;
}

/* Title */
.title {
    font-size: 42px;
    font-weight: bold;
    text-shadow: 0 0 10px #00c6ff;
}

.subtitle {
    color: #ccc;
}

/* Upload Box */
.upload-box {
    width: 60%;
    margin: 20px auto;
    padding: 20px;
    border-radius: 15px;
    border: 2px dashed rgba(255,255,255,0.3);
    background: rgba(255,255,255,0.1);
    backdrop-filter: blur(12px);
    transition: 0.3s;
}

.upload-box:hover {
    transform: scale(1.02);
}

/* Inputs */
input, textarea {
    width: 90%;
    padding: 12px;
    margin: 10px;
    border-radius: 10px;
    border: none;
}

/* Button */
button {
    padding: 12px 25px;
    background: linear-gradient(45deg,#00c6ff,#0072ff);
    border: none;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    box-shadow: 0 0 15px #00c6ff;
}

/* Dashboard */
.dashboard {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}

/* Cards */
.card {
    width: 40%;
    padding: 20px;
    border-radius: 15px;
    background: rgba(255,255,255,0.1);
    backdrop-filter: blur(10px);
}

.glow {
    box-shadow: 0 0 20px rgba(0,255,255,0.3);
}

/* Circle */
.circle {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background: conic-gradient(#00ffcc calc(var(--value)*1%), #333 0%);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 28px;
    margin: auto;
}

/* Animation */
.animate {
    animation: spin 1s ease;
}

@keyframes spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}

/* Skills */
.skills {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}

.tag {
    padding: 6px 14px;
    margin: 5px;
    border-radius: 20px;
    display: inline-block;
    font-size: 14px;
}

.green {
    background: #00cc66;
}

.red {
    background: #ff4d4d;
}

/* Loader */
.loader {
    border: 6px solid #f3f3f3;
    border-top: 6px solid #00c6ff;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin: 20px auto;
    animation: spin 1s linear infinite;
}

.hidden {
    display: none;
}

/* Fade */
.fade-in {
    animation: fade 1s ease;
}

@keyframes fade {
    from {opacity: 0;}
    to {opacity: 1;}
}
canvas {
    filter: drop-shadow(0px 0px 20px rgba(0,255,255,0.6));
}
#barChart {
    margin-top: 20px;
    filter: drop-shadow(0px 0px 15px rgba(0,255,255,0.5));
}